.App {
  padding: 10px 5rem;
}

.todos {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sharing {
  display: flex;
  align-items: top;
  justify-content: space-between;
}